<div class="landing"  *ngIf="!loggedIn">
    <div class="welcome">
        <div></div>
        <div>
            <h1>Welcome</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio sunt, error mollitia dolorum officia eaque vero vel inventore dolor corrupti quaerat ad aspernatur quia fuga voluptate ex saepe non similique?</p>
            <button class="primary" [routerLink]="['register']" [routerLinkActive]="['active']">Register</button>
        </div>
    </div>
</div>

<mat-form-field class="genre">
    <mat-label>Select genre</mat-label>
    <mat-select>
      <mat-option (click)="changeGenre('all')">-</mat-option>
      <mat-option *ngFor="let genre of genres" (click)="changeGenre(genre)" [value]="genre">{{ genre }}</mat-option>
    </mat-select>
</mat-form-field>

<main>
    <mat-card class="card" *ngFor="let album of albums">
        <mat-card-header>
            <mat-card-title>{{ album?.name }}</mat-card-title>
            <mat-card-subtitle>{{ album?.author }}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="{{ album?.cover }}">
        <mat-card-content>
            <p>Date: {{ album?.date }}</p>
            <p>Genre: {{ album?.genre }}</p>
          </mat-card-content>
        <mat-card-actions *ngIf="loggedIn">
            <button mat-stroked-button color="accent" (click)="addToFavourites(album?.id)">Lubię to!</button>
          </mat-card-actions>
    </mat-card>
</main>
<!-- <button (click)="soap()">SOAP</button> -->